@mixin absolute($y, $x) {
  position: absolute;
  top: $y;
  left: $x;
  transform: translate(-50%, -50%)
}

.HouseChart {
  position: relative;
  font-size: 2vmin;

  .Background g {
    fill: transparent;
    stroke-width: 0.01;
    stroke: #282c34;

    rect:first-child {
      stroke-width: 0.02;
    }
  }

  .Figure {
    padding: 1em 15px;
    text-align: center;
    line-height: .75em;
  }

  .Info {
    @include absolute(50%, 50%);
    text-align: center;
    width: 38vmin;
    height: 40vmin;
  }

  .Mother0 {
    @include absolute(50%, 15%);
  }
  .Mother1 {
    @include absolute(75%, 10%);
  }
  .Mother2 {
    @include absolute(90%, 25%);
  }
  .Mother3 {
    @include absolute(85%, 50%);
  }

  .Daughter0 {
    @include absolute(90%, 75%);
  }
  .Daughter1 {
    @include absolute(75%, 90%);
  }
  .Daughter2 {
    @include absolute(50%, 85%);
  }
  .Daughter3 {
    @include absolute(25%, 90%);
  }

  .Niece0 {
    @include absolute(10%, 75%);
  }
  .Niece1 {
    @include absolute(15%, 50%);
  }
  .Niece2 {
    @include absolute(10%, 25%);
  }
  .Niece3 {
    @include absolute(25%, 10%);
  }
}
