.ShieldChart {
  position: relative;
  font-size: 2vmin;
  display: grid;
  grid-template:
    "d3 d2 d1 d0 m3 m2 m1 m0" 1fr
    "n3 n3 n2 n2 n1 n1 n0 n0" 1fr
    ". w1 w1 . . w0 w0 ." 1fr
    ". . f0 f0 f0 f0 . f1" 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-items: center stretch;
  justify-content: center;
  width: 100%;

  .Figure {
    padding: 1em 15px;
    text-align: center;
    line-height: .75em;
  }

  .Background, .Way {
    grid-area: 1 / 1 / 5 / 9;
    justify-self: stretch;

    & g {
      fill: transparent;
      stroke-width: 0.01;
      stroke: #282c34;

      &.thick {
        stroke-width: 0.04;
        stroke: #d81e1e;
      }
    }
  }
}
