.FigureRow {
  margin: 0 .2em;

  &.way {
    color: #d81e1e;
  }
}

.quesited {
  background: content-box linear-gradient(to bottom, #61dafb, #61dafb);

  &.querent {
    background-image: linear-gradient(to bottom, #61FBCF, #61dafb);

    &.projection {
      background-image: linear-gradient(to bottom, #61FBCF, #61dafb, #a88dfc);
    }
  }

  &.projection {
    background-image: linear-gradient(to bottom, #61dafb,  #a88dfc)
  }

  .HouseChart & {
    background-origin: padding-box;
    background-clip: padding-box;
  }
}

.querent {
  background: content-box linear-gradient(to bottom, #61FBCF, #61FBCF);

  &.projection {
    background: content-box linear-gradient(to bottom, #61FBCF, #a88dfc);
  }

  .HouseChart & {
    background-origin: padding-box;
    background-clip: padding-box;
  }
}

.projection {
  background: content-box linear-gradient(to bottom, #a88dfc, #a88dfc);

  .HouseChart & {
    background-origin: padding-box;
    background-clip: padding-box;
  }
}
