footer {
  text-align: center;
  height: 5vmin;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(2vmin);
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  span:first-child {
    background-color: #61FBCF;
  }

  span:nth-child(2) {
    background-color: #61dafb;
  }

  span:last-child {
    background-color: #a88dfc;
  }
}
