.HeaderRow {
  text-align: center;
  height: 7vmin;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2.5vmin);
  color: white;
}

.HeaderRow.small {
  height: 4vmin;
}

.HeaderRow.border {
  border-top: 1px solid #d7d3cb;
}

.HeaderRow-logo {
  animation: HeaderRow-logo-spin infinite 20s linear;
  height: 5vmin;
}

@keyframes HeaderRow-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
