.Tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: .4;
  font-size: 2.5vmin;
}

.Tabs.small {
  font-size: 2vmin;
}

.Tab {
  display: flex;
  padding: 0 1vmin;
  border-bottom: .25vmin solid gray;
  cursor: pointer;
  transition: color 0.5s ease, border-bottom 0.5s ease;
}

.Tab:hover:not(.disabled) {
  color: #61dafb;
}

.Tab.selected {
  border-bottom: .25vmin solid #61dafb;
}

.Tab.disabled {
  color: gray;
  cursor: default;
}
