.Generate {
  width: 80vmin;
  margin: auto;
}

.Button {
  margin: 2vmin auto;
  border-radius: 5px;
  box-shadow: 0 1px 2px;
  text-align: center;
  height: 5vmin;
  line-height: 5vmin;
  user-select: none;
  cursor: pointer;
}

.Button:active:not(.disabled) {
  box-shadow: 0 0 1px;
}

.Button.disabled {
  background-color: gray;
  color: white;
  cursor: default;
}
