.Manual {
  width: 80vw;
  display: grid;
  grid-template:
    ". MOne MTwo MThree MFour" 1fr
    "EFire FireOne FireTwo FireThree FireFour" 1fr
    "EAir AirOne AirTwo AirThree AirFour" 1fr
    "EWater WaterOne WaterTwo WaterThree WaterFour" 1fr
    "EEarth EarthOne EarthTwo EarthThree EarthFour" 1fr
    ". . s s ." 1fr
    / auto 1fr 1fr 1fr 1fr;
  gap: 2vmin .5vmin;
  place-items: center;
  justify-content: center;
  padding: 2vmin 10vw;
}

.Manual input {
  min-width: 15vmin;
}
