@import 'mui/colors';

$mui-primary-color: #795548;
$mui-primary-color-dark: #5D4037;
$mui-primary-color-light: #D7CCC8;
$mui-accent-color: #607D8B;
$mui-accent-color-dark: darken($mui-accent-color, 30%);
$mui-accent-color-light: lighten($mui-accent-color, 30%);
