@import './styles/__colors', 'mui';

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  margin: 7px 5px 0 5px;
  height: 45px;
  display: inline-block;

  g {
    fill: $mui-accent-color-light;
  }
}

.house-background {
  width: 600px;

  g {
    stroke: $mui-primary-color;
    fill: transparent;
    stroke-width: 0.02;
  }
}

.app-title {
  @extend .mui--text-display3;
  @extend .mui--appbar-height;
  display: inline-block;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.figure {
  padding: 1em 15px;
  border: 1px solid $mui-primary-color;
  text-align: center;
  line-height: .9em;
  background-color: white;

  .house & {
    border: none;
    font-size: 1.2em;
  }

  span {
    margin: 0 5px;
  }

  &.reconciler {
    color: grey;
  }
}

.chart {
  margin: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .row {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    width: 600px;

    & > * {
      flex-grow: 1;
      flex-shrink: 0;

      &.reconciler,
      &.judge,
      &.info {
        flex-basis: 28%;
      }
    }
  }
}

.wrapper {
  position: relative;
}

@each $type in mother, daughter, niece {
  @each $position in 0,1,2,3 {
    .#{$type}#{$position} {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.mother0 {
  top: 41.5%;
  left: 11.5%;
}

.mother1 {
  top: 66.5%;
  left: 3%;
}

.mother2 {
  top: 81.5%;
  left: 19.75%;
}

.mother3 {
  top: 76%;
  left: 44.75%;
}

.daughter0 {
  top: 81.5%;
  left: 69.75%;
}

.daughter1  {
  top: 66.5%;
  left: 86.5%;
}

.daughter2 {
  top: 41.5%;
  left: 78%;
}

.daughter3 {
  top: 17%;
  left: 86.5%;
}

.niece0 {
  top: 1.5%;
  left: 69.75%;
}

.niece1 {
  top: 7.5%;
  left: 44.75%;
}

.niece2 {
  top: 1.5%;
  left: 19.75%;
}

.niece3 {
  top: 17%;
  left: 3%;
}
